In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Для работы с матрицами
from scipy.sparse import csr_matrix, coo_matrix

# Детерминированные алгоритмы
from implicit.nearest_neighbours import ItemItemRecommender, CosineRecommender, TFIDFRecommender, BM25Recommender

# Метрики
from implicit.evaluation import train_test_split
from implicit.evaluation import precision_at_k, mean_average_precision_at_k, AUC_at_k, ndcg_at_k

In [2]:
data = pd.read_csv('data/retail_train.csv')
data.head(2)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.6,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.0,1631,1,0.0,0.0

In [3]:
test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

In [4]:
data_train

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2282320,222,41297772783,635,1120741,1,0.59,304,0.00,1716,91,0.0,0.0
2282321,462,41297773713,635,993339,1,1.99,304,0.00,2040,91,0.0,0.0
2282322,462,41297773713,635,995242,1,1.00,304,-0.89,2040,91,0.0,0.0
2282323,462,41297773713,635,10180324,1,3.00,304,-0.29,2040,91,0.0,0.0
2282324,462,41297773713,635,12731714,1,4.08,304,0.00,2040,91,0.0,0.0

In [5]:
result = data_test.groupby('user_id')['item_id'].unique().reset_index()
result.columns=['user_id', 'actual']
result.head(2)

   user_id                                             actual
0        1  [821867, 834484, 856942, 865456, 889248, 90795...
1        3  [835476, 851057, 872021, 878302, 879948, 90963...

#### Random recommendation

In [6]:
def random_recommendation(items, n=5):
    """Случайные рекоммендации"""
    
    items = np.array(items)
    recs = np.random.choice(items, size=n, replace=False)
    
    return recs.tolist()

In [7]:
%%time

items = data_train.item_id.unique()

result['random_recommendation'] = result['user_id'].apply(lambda x: random_recommendation(items, n=5))

result.head(2)

Wall time: 3.23 s

,user_id,actual,random_recommendation
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[471093, 10200686, 9811643, 13380808, 993639]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[16122293, 1396567, 6391153, 920081, 987263]"

### Задание 1. Weighted Random Recommendation

Напишите код для случайных рекоммендаций, в которых вероятность рекомендовать товар прямо пропорциональна логарифму продаж
- Можно сэмплировать товары случайно, но пропорционально какому-либо весу
- Например, прямопропорционально популярности. Вес = log(sales_sum товара)

In [8]:
def weighted_random_recommendation(items_weights, n=5):
    """Случайные рекоммендации
    
    Input
    -----
    items_weights: pd.DataFrame
        Датафрейм со столбцами item_id, weight. Сумма weight по всем товарам = 1
    """
    
    items = items_weights['item_id'].to_numpy()
    weights = items_weights['weight'].to_numpy()
    recs = np.random.choice(items, size=n, replace=False, p = weights)
    
    return recs.tolist()

In [9]:
popular = data_train.groupby('item_id')['sales_value'].sum().reset_index()
popular.sort_values('sales_value', ascending=False, inplace=True)
sum_sales = sum(popular['sales_value'])
popular['weight'] = popular['sales_value'] / sum_sales
popular.head(3)

       item_id  sales_value    weight
55470  6534178    447799.94  0.063498
55430  6533889     40483.34  0.005741
28895  1029743     35764.66  0.005071

In [10]:
sum(popular['weight'])

0.9999999999993762

In [11]:
%%time

result['weighted_random_recommendation'] = result['user_id'].apply(lambda x: weighted_random_recommendation(popular, n=5))

result.head(2)

Wall time: 1.42 s

,user_id,actual,random_recommendation,weighted_random_recommendation
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[471093, 10200686, 9811643, 13380808, 993639]","[871756, 952972, 825226, 10149569, 5568378]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[16122293, 1396567, 6391153, 920081, 987263]","[1023958, 1082185, 9836106, 1078479, 983936]"

## Задание 2. Улучшение бейзлайнов и ItemItem

- Попробуйте улучшить бейзлайны, считая случаный на топ-5000 товаров
- Попробуйте улучшить разные варианты ItemItemRecommender, выбирая число соседей $K$.

### 2.1 Выбираем случайные товары из топ-5000

#### Выберем топ-5000

In [12]:
top5000 = popular[:5000]
top5000.head(3)

       item_id  sales_value    weight
55470  6534178    447799.94  0.063498
55430  6533889     40483.34  0.005741
28895  1029743     35764.66  0.005071

In [13]:
%%time

items = top5000.item_id

result['random_recommendation_5000'] = result['user_id'].apply(lambda x: random_recommendation(items, n=5))

result.head(2)

Wall time: 242 ms

,user_id,actual,random_recommendation,weighted_random_recommendation,random_recommendation_5000
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[471093, 10200686, 9811643, 13380808, 993639]","[871756, 952972, 825226, 10149569, 5568378]","[845294, 1017325, 1020823, 909268, 8293426]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[16122293, 1396567, 6391153, 920081, 987263]","[1023958, 1082185, 9836106, 1078479, 983936]","[1059473, 999599, 5995985, 889989, 1131438]"

#### Измерим качество по precision@5

In [14]:
# Функции из 1-ого вебинара
import os, sys
    
from metrics import precision_at_k, recall_at_k

In [16]:
for name_col in result.columns[1:]:
    print(f"{round(result.apply(lambda row: precision_at_k(row[name_col], row['actual']), axis=1).mean(),4)}:{name_col}")

1.0:actual
0.0004:random_recommendation
0.023:weighted_random_recommendation
0.0056:random_recommendation_5000

**Мы видим значительное улучшение метрики, если выбирать случайным образом из ТОП-5000 товаров.**

### 2.2 Пробуем улучшить варианты ItemItemRecommender, выбирая число соседей $K$.